<div
  class="static-slider-head filter "
  style="background-image: url(http://1.bp.blogspot.com/-WrcTO3cADKg/VHN4Qlo3rBI/AAAAAAAAAj0/_SV8_ipka0g/s1600/pokemonnuzlockechallengecapa.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 align-self-center text-center no-trans">
        <h1 class="title bord">Pokemon Omega Ruby/Alpha Sapphire</h1>
        <h5 class="subtitle yay">
          <b>Information about the pokemon present into the game´s routes.</b>
        </h5>

        <!--<a
          href="https://www.wrappixel.com/free-wrapkit-angular-blog"
          class="btn btn-md m-t-30 btn-success-gradiant font-14"
          target="blank"
          >Download Free</a
        >-->
      </div>
      <!-- Column -->
    </div>
  </div>
</div>
