<div class="collapse navbar-collapse hover-dropdown font-14 ml-auto " id="h6-info">
    <ul class="navbar-nav ml-auto  align-items-center">
        <li class="nav-item jest" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/">
                Password Manager
            </a>
        </li>
        <li class="nav-item jest" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/about">
                Pokemon Teams
            </a>
        </li>
        <li class="nav-item jest" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/calendar">
                Birthday Calendar
            </a>
        </li>
        <li class="nav-item jest" [routerLinkActive]="['active']">
              <a class="nav-link" routerLink="/berry">List of Berries</a>
          </li>
        <li class="dropdown nav-item">
          <a href="javascript:void(0)" class="nav-link dropbtn">Wild Pokemon Encounters (All Versions)</a>
          <div class="dropdown-content">
            <a routerLink="/routesHGSS">Pokemon Heartgold/SoulSilver</a>
            <a routerLink="/routesORAS">Pokemon Omega Ruby/Alpha Sapphire</a>
            <a routerLink="/routesPLAT">Pokemon Platinum</a>
            <a routerLink="/routesXY">Pokemon X/Y</a>
          </div>
        </li>


        <!--<li class="nav-item">
            <a class="btn btn-danger-gradiant font-14" target="_blank" href="https://www.wrappixel.com/free-wrapkit-angular-blog">
                Download Free
            </a>
        </li>-->
    </ul>

</div>
