<div
  class="banner-innerpage"
  style="background-image: url(assets/images/landingpage/banner-bg-old.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 no-trans align-self-center text-center">
        <h1 class="title">Pokemon Teams</h1>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!-- ============================================================== -->
<!-- Feature 22  -->
<!-- ============================================================== -->

<div class="spacer feature22">
  <div class="container">
    <app-top-content></app-top-content>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Feature 22  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Feature 1  -->
<!-- ============================================================== -->
<div class="bg-light spacer feature1">
  <div class="container">

    <!-- Row  -->
    <div class="row justify-content-center">
      <div class="col-md-7 text-center no-trans">
        <h2 class="title">Pokemon StormSilver Team 1</h2>
        <a class="btn btn-danger-gradiant font-14" target="_blank" href="https://drive.google.com/drive/folders/0B-zmEVN0Mas6VlhJNHc0YWx3UUk?resourcekey=0-RYApzpdEIcGIkiTfKxyKqw">
                Documentation (English)
            </a>
      </div>
    </div>
    <app-relay-on></app-relay-on>
  </div>
</div>
<div class="bg-light spacer feature1">
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <div class="col-md-7 text-center no-trans">
        <h2 class="title">Pokemon StormSilver Team 2</h2>
        <a class="btn btn-danger-gradiant font-14" target="_blank" href="https://drive.google.com/drive/folders/0B-zmEVN0Mas6VlhJNHc0YWx3UUk?resourcekey=0-RYApzpdEIcGIkiTfKxyKqw">
                Documentation (English)
            </a>
      </div>
    </div>
    <app-relay-on2></app-relay-on2>
  </div>
</div>
<div class="bg-light spacer feature1">
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <div class="col-md-7 text-center no-trans">
        <h2 class="title">Pokemon BlazeBlack</h2>
        <a class="btn btn-danger-gradiant font-14" target="_blank" href="https://drive.google.com/drive/folders/0B-zmEVN0Mas6RmNhOThPaVN1YXc?resourcekey=0-TZSnjaOU9AoAYLxAQg-IUw">
                Documentation (English)
            </a>
      </div>
    </div>
    <app-relay-on3></app-relay-on3>
  </div>
</div>
<div class="bg-light spacer feature1">
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <div class="col-md-7 text-center no-trans">
        <h2 class="title">Pokemon SoulSilver</h2>
            <a class="btn btn-danger-gradiant font-14" target="_blank" href="https://www.pokemythology.net/detonados/detonado-heartgold-soulsilver/">
                Documentation (Portuguese)
            </a>
      </div>
    </div>
    <app-relay-on4></app-relay-on4>
  </div>
</div>
<div class="bg-light spacer feature1">
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <div class="col-md-7 text-center no-trans">
        <h2 class="title">Pokemon Rising Ruby</h2>
        <a class="btn btn-danger-gradiant font-14" target="_blank" href="https://drive.google.com/drive/folders/0B-zmEVN0Mas6b3p1cUg3UVNXNWM?resourcekey=0-LpcfVeyFYbeRwAj1c9AV2A">
                Documentation (English)
            </a>
      </div>
    </div>
    <app-relay-on5></app-relay-on5>
  </div>
</div>
<div class="bg-light spacer feature1">
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <div class="col-md-7 text-center no-trans">
        <h2 class="title">Pokemon Renegade Platinum</h2>
        <a class="btn btn-danger-gradiant font-14" target="_blank" href="https://drive.google.com/drive/folders/1gM7nse4qGKJMkcvlQwf5wPVbXwPcC4XV">
                Documentation (English)
            </a>
      </div>
    </div>
    <app-relay-on6></app-relay-on6>
  </div>
</div>
<div class="bg-light spacer feature1">
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <div class="col-md-7 text-center no-trans">
        <h2 class="title">Pokemon Platinum</h2>
        <a class="btn btn-danger-gradiant font-14" target="_blank" href="https://www.pokemythology.net/detonados/detonado-platinum/">
                Documentation (Portuguese)
            </a>
      </div>
    </div>
    <app-relay-on7></app-relay-on7>
  </div>
</div>

<div class="bg-light spacer feature1">
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <div class="col-md-7 text-center no-trans">
        <h2 class="title">Pokemon Eternal X</h2>
        <a class="btn btn-danger-gradiant font-14" target="_blank" href="https://www.pokemythology.net/detonados/detonado-platinum/">
                Documentation (English)
            </a>
      </div>
    </div>
    <app-relay-on8></app-relay-on8>
  </div>
</div>

<div class="bg-light spacer feature1">
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <div class="col-md-7 text-center no-trans">
        <h2 class="title">Pokemon Wilting Y</h2>
        <a class="btn btn-danger-gradiant font-14" target="_blank" href="https://www.pokemythology.net/detonados/detonado-platinum/">
                Documentation (English)
            </a>
      </div>
    </div>
    <app-relay-on9></app-relay-on9>
  </div>
</div>

<div class="bg-light spacer feature1">
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <div class="col-md-7 text-center no-trans">
        <h2 class="title">Pokemon Eternal X (Insanity)</h2>
        <a class="btn btn-danger-gradiant font-14" target="_blank" href="https://www.pokemythology.net/detonados/detonado-platinum/">
                Documentation (English)
            </a>
      </div>
    </div>
    <app-relay-on10></app-relay-on10>
  </div>
</div>

<!-- ============================================================== -->
<!-- End Feature 1  -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Call to action -->
<!-- ============================================================== -->
<div class="spacer">
  <div class="container">
    <div class="row justify-content-center m-b-30">
      <div class="col-md-7 text-center no-trans">
        <h2 class="title">
          HM Slaves
        </h2>
        <h6 class="subtitle">
          Quagsire (Water/Ground);
        </h6>
        <h6 class="subtitle">
          Farfetch´d (Fly/Fighting);
        </h6>
        <h6 class="subtitle">
          Geodude (Rock/Ground);
        </h6>
        <a
          class="btn btn-info-gradiant btn-md btn-arrow m-t-20"
          data-toggle="collapse"
          href="#"
          ><span>Return to Home <i class="ti-arrow-right"></i></span
        ></a>
      </div>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Call to action -->
<!-- ============================================================== -->
