<div class="row wrap-feature-22">
  <!-- Column -->
  <div class="col-lg-6" data-aos="flip-up" data-aos-duration="1200">
    <img [src]="imagePath" class="rounded img-responsive" alt="wrapkit" />
  </div>
  <!-- Column -->
  <div class="col-lg-6 no-trans">
    <div class="text-box">
<!--      <small class="text-info font-medium">Make your site in No-Time</small>-->
      <h3 class="font-light">
<!--        WrapKit helps you to-->
<!--        <span class="text-info">build your project</span> in record time with-->
<!--        fun making it.-->
        Information about Pokemon Teams in Various Games in the Windows System
      </h3>
      <p>
        This page holds all information about the teams of Pokemon Needed in Each Game. The Games in Question:
      </p>
      <li>Pokemon StormSilver</li>
      <p></p>
      <li>Pokemon BlazeBlack</li>
      <p></p>
      <li>Pokemon SoulSilver</li>
      <p></p>
      <li>Pokemon Rising Ruby</li>
      <p></p>
      <li>Pokemon Renegade Platinum</li>
      <p></p>
      <li>Pokemon Platinum</li>
      <p></p>
      <li>Pokemon Eternal X</li>
      <p></p>
      <li>Pokemon Wilting Y</li>
      <p></p>
      <p>
        PS: Routes need some work. Necessary to gather info about the Pokemon in Question.
      </p>
      <!--<a
        class="btn btn-info-gradiant btn-md btn-arrow m-t-20"
        data-toggle="collapse"
        routerLink="#"
      >
        <span
          >View Other Features
          <i class="ti-arrow-right"></i>
        </span>
      </a>-->
    </div>
  </div>
  <!-- Column -->
</div>
