<div class="topbar" id="top">
    <div class="header6">

        <div class="position-absolute"> <!--container if necessary-->
            <nav class="navbar navbar-expand-lg h6-nav-bar">
                <a class="navbar-brand" href="https://bulbapedia.bulbagarden.net/wiki/Main_Page">
                    <img src="assets/images/logos/oie_transparent (1).png" alt="wrapkit" />
                </a>


                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#h6-info"
                    aria-controls="h6-info" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="ti-menu"></span>
                </button>


                <app-banner-navigation class="ms-auto jtest"></app-banner-navigation>

            </nav>
        </div>


    </div>
</div>
